
* {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}


header, footer {
	background-color: #333;
	display: flex;
}

header {
	justify-content: space-between;
	flex-wrap: wrap; 
}

footer {
	align-items: center;
}

a {
	text-decoration: none;
}


header h2, header nav{
	margin: 30px 100px 30px;
}

nav {
	display: flex;
	align-items: center;

}

nav ul {
	margin: 0px;
}

h1, h2, h3 {
	font-weight: 800;
	/*à l'air de rien faire??*/
}


#titre2 span {
	color: #333;
}

#titre {
	color: #F59600;
}

ul{
	list-style-type: none;
	display: flex;
	margin: 0px;
	padding: 0px;
	font-size: 60%;
}

.separateur::after {
	content: "|"
}

.menu a:hover {
	/*background-color: #ffffff50;*/
}

/*------------------*/

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px;	
}

section:nth-of-type(odd) {
	background-color: #F59600;
}


h3 {
	color: #333;
	margin-bottom: 5px;
	margin-top: 0px;
}


img {
	height: 25px;
	margin-bottom: 30px;
}

.contenant {
	display: flex;
}

.column {
	flex-direction: column;
}

.raw {

	flex-direction: row;
}


.justify{
	justify-content: space-between;
}

.wrap {
	flex-wrap: wrap;
}


/*-------------------*/

#portrait {
	width: 250px;
	height: 250px;
	border-radius: 100%;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
}
article {
	justify-content: center;
}

article div {
	max-width: 400px;
	min-width: 100px;
	/*height: 250px;*/
	margin-left: 20px;
	margin-right: 20px;
	align-self: center;
}

p {
	font-weight: 300;
	/*à l'air de rien fair???*/
}

/*-------------------*/
#portfolio{
	width: 40.8%;
	min-height: 300px;
	align-content: center;
}

#portfolio div {
	align-self: center;	
}

div > div {
	flex-grow: 1;
}

div > div > div {
	min-width: 190px;
	min-height: 140px;
	background-color: #ccc;
	margin: 5px;
}

/*-------------------------*/
section > p {
	columns: 2 230px;
	font-size: 90%;
	text-align: justify;
	margin: 0PX;
}
button {
	width: 65px;
	height: 35px;
	border: 1px solid white;
	border-radius: 10%;
	background-color: #F59600;
	padding: 3px;
	margin-top: 30px;

}

button:hover {
	background-color: #ffffff20;
}

button i {
	margin-right: 10px;
}

#cv {
	font-size: 80%;
}

/*---------------------------*/


div input, textarea {
	background-color: #ccc;
	color: #888;
	margin: 6.5px;
	width: 225px;
}

div input {
	height: 30px;
}

textarea{
	height: 100%;
	/*width: 100%;*/
}

form > div > div {
	align-items: center;
	height: 160px;
	/*width: 200px;*/
}


#submit  {
	width: 65px;
	height: 35px;
	font-size: 80%;
	align-self: center;
	border: 1px solid #F59600;
	border-radius: 10%;
	background-color: #fff;
	color: #333;
	padding: 0.3%;
	margin-top: 30px;
}

#submit:hover {
	background-color: #F5960020;
}

/*--------------------------*/

#footernav {
	align-self: flex-end;
}

footer ul:first-of-type {
	margin: 40px 100px 40px;

}

footer ul:last-of-type {
	margin-top:15px;
	margin-bottom:36px;
}

#logo li {
	height: 35px;
	width: 35px;
	border-radius: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
	margin: 8.80px;
	align-items: center;
	/*pk marche pas??*/
}

#logo li:hover {
	position: relative;
	top:-10px;
}

footer i {
	color: #333;
	/*align-self: center;*/

}


@media screen and (max-width: 768px){


	.mobilecenter {
		justify-content: center;
	}

	.test {
		align-self: center;
	}

	/*#test2 {
		align-content: center;
		}*/
		/*pk ne marche pas quand je met align content sur les div du form ou le form??*/
	}